* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 2rem;
  color: #373737;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

body::-webkit-scrollbar {
  display: none;
}